<footer>
    <div>
        <section id="footer-banner">
            <div class="max-w-screen-md mx-auto">
                <div id="footer-image">
                    <img src="https://avatars.githubusercontent.com/u/6767689?v=4" alt="Leonardo Rifeli">
                </div>
                
              <div id="footer-text">
                <h1>Leonardo Rifeli da Silva</h1>
                <p>Leonardo creates, writes and operates software. 💡 Passionate about <b>scalable architectures, data engineering, and cloud solutions</b></p>
              </div>

              <div class="social">
                <ul class="social__list list-reset">
                  
                  {{ with site.Params.social.github }}
                  <li class="social__item">
                    <a class="social__link" href="{{ . }}" target="_blank" rel="noopener me" aria-label="GitHub link">
                      <ion-icon name="logo-github"></ion-icon>
                    </a>
                </li>
                  {{ end }}
              
                  {{ with site.Params.social.linkedin }}
                  <li class="social__item">
                    <a class="social__link" href="{{ . }}" target="_blank" rel="noopener me" aria-label="linkedin link">
                      <ion-icon name="logo-linkedin"></ion-icon>
                    </a>
                  </li>
                  {{ end }}
              
                  {{ with site.Params.social.website }}
                  <li class="social__item">
                    <a class="social__link" href="{{ . }}" target="_blank" rel="noopener me" aria-label="Website link">
                      <ion-icon name="link"></ion-icon>
                    </a>
                  </li>
                  {{ end }}
              
                </ul>
              </div>
              
            </div>
          
          </section>        
    </div>

    <div class="pt-5 pb-10 grid gap-3 sm:grid-cols-2 max-w-screen-md mx-auto">
        {{ partial "footer/copyright" . }}
        {{ partial "footer/social" . }}
    </div>
</footer>