{{ define "main" }}
<main>
	<article>

		{{ with .Params.tags }}
		<div id="tags-custom-container">
				{{ range . }}
				<a id="tag-custom-button" href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
				{{ end }}
		</div>
		{{ end }}

		<div class="title">
			<h1 class="title">{{ .Title }}</h1>
			<div class="meta">{{ if .Date }} Posted on {{ dateFormat "Jan 2, 2006" .Date }} {{ end }} 
				
				{{ if ne .Lastmod .Date }}
					  - Updated on {{ dateFormat "Jan 2, 2006" .Lastmod }}
  					{{ end }}

				 {{ if .Draft }} <span
					class="draft-label">DRAFT</span> {{ end }}</div>
		</div>
		{{ if isset .Params "tldr" }}
		<div class="tldr">
			<strong>tl;dr:</strong>
			{{ .Params.tldr }}
		</div>{{ end }}

		{{ partial "newsletter.html" . }}

		<section class="body">
			{{ .Content }}
		</section>

		{{ if .Params.Comments }}
			{{ partial "single/comments/giscus.html" . }}
		{{ end }}

	</article>
</main>
{{ end }}