<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default `en` }}" class="scroll-smooth dark">
  <head>
    {{- partial "head/index" . -}}
  </head>

  <body>
    <div class="header max-w-screen-md mx-auto">
      {{ partial "header/index" . }}
      {{ partial "header/theme-button" . }}
    </div>

    {{ if .IsHome }}
      {{ partial "intro.html" . }}
    {{ end }}

    <main id="content" class="max-w-screen-md mx-auto">
      {{- block "main" . -}}
      {{- end }}
    </main>

    <div>
    {{- partial "footer/index" . -}}
    </div>
  </body>
</html>
