<aside class="newsletter-card">
    <p class="eyebrow">Newsletter</p>
    <p>
        Anotações sobre engenharia de software, formação de time e o que eu leio.
        Assine a <a href="https://rifeli.substack.com/" rel="nofollow noopener" target="_blank">newsletter</a>
        se quiser receber por e-mail.
    </p>

    <!-- Subscribe embed code -->
    <div id="custom-substack-embed" data-supascribe-embed-id="560402723339" data-supascribe-subscribe></div>

    <!-- Supascribe Script -->
    <script src="https://js.supascribe.com/v1/loader/I7gGAVZ3kzdezVDAP8FBBkbcf7k1.js" async></script>
</aside>
