<!-- <br />

<a href="https://adplist.org/mentors/leonardo-rifeli" target="_blank">
    <img alt="Impact swag image" class="" src="/images/mentor.png" height="100%" width="100%"
        style="background-color: rgb(225, 49, 108); border-radius: 14px;">
</a> -->

<div class="row newsletter-card"
    style="color:#000!important; background: #8700FF; display: block; padding: 20px; margin: 40px; border-radius: 10px; border-left: solid 5px #5e497c; color: #5e497c; font-size: 16px;">
    <p>
        Uma <a href="https://rifeli.substack.com/" style="color:#000!important" ref="nofollow"
            target="_blank">newsletter</a> sobre engenharia de software, gestão de time, formação de time, livros e
        muitas anotações que faço depois de ler/estudar (o meu ou o seu)... :D
    </p>

    <!-- Subscribe embed code -->
    <div id="custom-substack-embed" data-supascribe-embed-id="560402723339" data-supascribe-subscribe style="justify-content: center;display: flex;"></div>

    <!-- Supascribe Script -->
    <script src="https://js.supascribe.com/v1/loader/I7gGAVZ3kzdezVDAP8FBBkbcf7k1.js" async></script>

    <!-- <script>
        window.CustomSubstackWidget = {
            substackUrl: "rifeli.substack.com",
            placeholder: "example@email.com",
            buttonText: "assinar ❤",
            theme: "custom",
            colors: {
                primary: "#bd93f9",
                input: "#5e497c",
                email: "#bd93f9",
                text: "#000",
            }
        };
    </script>
    <script src="https://substackapi.com/widget.js" async></script> -->
</div>