<nav>
  <ul>
    {{ $currentPage := . }}
    {{ $primeiroExterno := true }}
    {{ range site.Menus.main }}
    {{- $external := or (strings.HasPrefix .URL "http://") (strings.HasPrefix .URL "https://") }}

    {{- if and $external $primeiroExterno }}
    {{/* Separa rota interna de link externo. Decorativo, entao sai do
         alcance de leitor de tela. */}}
    <li class="nav-sep" aria-hidden="true">&ndash;</li>
    {{- $primeiroExterno = false }}
    {{- end }}

    <li>
      {{- if $external }}
      <a href="{{ .URL }}" target="_blank" rel="noopener">
        {{ .Name }}
      </a>
      {{- else }}
      {{- $menu_item_url := (cond (strings.HasSuffix .URL "/") .URL (printf "%s/" .URL) ) | absLangURL }}
      {{- $page_url := $currentPage.Permalink | absLangURL }}
      <a href="{{ .URL }}" class="{{ if eq $menu_item_url $page_url }} active {{ end }}">
        {{ .Name }}
      </a>
      {{- end }}
    </li>
    {{ end }}
  </ul>
</nav>
